<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Full Stack Books</title>
	</head>

	<body>
		<table border='3px solid black'>
			<tr>
				<th>id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
			</tr>
			{% for book in books %}
			<tr>
				<td> {{ book.id }} </td>
				<td> {{ book.title }} </td>
				<td> {{ book.author }} </td>
				<td> {{ book.category }} </td>
			</tr>
			{% endfor %}

		</table>
	<div>
		<h2>Add a Book</h2>

		<form action="/process" method="post">
			{% csrf_token %}
			<label>Title:</label>
			<input type="text" name="title"/>

			<label>Category:</label>
			<input type="text" name="category"/>

			<label>Author:</label>
			<input type="text" name="author"/>

			<input type="submit" value="Submit"/>
		</form>
	</div>
	</body>

</html>
