<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets Page</title>
  </head>
    <body>
      <h1>Hello, {{ user.first_name }}!</h1>

      <a href="{%url 'logout' %}">Logout</a>

      <form action="{%url 'create_secret' %}" method="post">
        {% csrf_token %}

        <textarea name="context" placeholder="Insert your secret here"></textarea><br>

        <input type="submit" value="Submit Secret">

      </form>

      <a href="{% url 'popular_secrets' %}">Most Popular Secrets</a>

      <h1>Recent Secrets:</h1>
      {% for secret in secrets %}
          <p>{{ secret.context }} ({{ secret.created_at }})</p>
          <p>{{ secret.liked_by.all|length }} likes</p>
          {% if user.id != secret.user.id %}
              <form action="{% url 'create_like' id=secret.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="Like" />
              </form>
          {% endif %}
       {% endfor %}

    </body>
</html>
